html {
    -webkit-tap-highlight-color: transparent;
}

* {
    padding: 0;
    margin: 0;
}

button,a,input,select {
    all: unset;
}

:root {
    --bezier: cubic-bezier(.4, 0, .2, 1);
    --textColor: rgb(51, 54, 57);
    --backgroundColor: rgba(46, 51, 56, .05);
    --textSizeMini: 11px;
    --textSizeSmall: 13px;
    --textSizeMedium: 14px;
    --textSizeLarge: 16px;

    --primaryColor: #007BFF;
    --primaryColorHover: #0056b3;
    --primaryColorPressed: #004085;

    --infoColor: #3498DB;
    --infoColorHover: #2980b9;
    --infoColorPressed: #20639b;

    --successColor: #27AE60;
    --successColorHover: #229954;
    --successColorPressed: #1e8449;

    --warningColor: #F39C12;
    --warningColorHover: #e67e22;
    --warningColorPressed: #d35400;

    --errorColor: #E74C3C;
    --errorColorHover: #d33;
    --errorColorPressed: #b22222;
}