.tk-checkbox-label {
    display: flex;
    align-items: center;
    transition: all .3s var(--bezier);
    cursor: pointer;
}

.tk-checkbox-label:hover .tk-checkbox-item .tk-checkbox {
    border: 1px solid var(--primaryColor);
}

.tk-checkbox-label-info:hover .tk-checkbox-item .tk-checkbox {
    border: 1px solid var(--infoColor);
}

.tk-checkbox-label-success:hover .tk-checkbox-item .tk-checkbox {
    border: 1px solid var(--successColor);
}

.tk-checkbox-label-warning:hover .tk-checkbox-item .tk-checkbox {
    border: 1px solid var(--warningColor);
}

.tk-checkbox-label-error:hover .tk-checkbox-item .tk-checkbox {
    border: 1px solid var(--errorColor);
}

.tk-checkbox-label input[type="checkbox"] {
    display: none;
}

.tk-checkbox-label .tk-checkbox-item {
    display: flex;
    align-items: center;
}

.tk-checkbox-label .tk-checkbox-item .tk-checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    margin-right: 6px;
}

.tk-checkbox-label .tk-checkbox-item .tk-checkbox .tk-checkbox-inner {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: #FFFFFF;
    opacity: 0;
}

.tk-checkbox-label .tk-checkbox-item .tk-checkbox + span {
    font-size: var(--textSizeMedium);
    user-select: none;
}

.tk-checkbox-label input[type="checkbox"]:checked + .tk-checkbox-item .tk-checkbox {
    border: 1px solid var(--primaryColor);
}

.tk-checkbox-label input[type="checkbox"]:checked + .tk-checkbox-item .tk-checkbox .tk-checkbox-inner {
    background-color: var(--primaryColor);
    opacity: 1;
}

/* info */
.tk-checkbox-label-info input[type="checkbox"]:checked + .tk-checkbox-item .tk-checkbox {
    border: 1px solid var(--infoColor);
}

.tk-checkbox-label-info input[type="checkbox"]:checked + .tk-checkbox-item .tk-checkbox .tk-checkbox-inner {
    background-color: var(--infoColor);
}

/* success */
.tk-checkbox-label-success input[type="checkbox"]:checked + .tk-checkbox-item .tk-checkbox {
    border: 1px solid var(--successColor);
}

.tk-checkbox-label-success input[type="checkbox"]:checked + .tk-checkbox-item .tk-checkbox .tk-checkbox-inner {
    background-color: var(--successColor);
}

/* warning */
.tk-checkbox-label-warning input[type="checkbox"]:checked + .tk-checkbox-item .tk-checkbox {
    border: 1px solid var(--warningColor);
}

.tk-checkbox-label-warning input[type="checkbox"]:checked + .tk-checkbox-item .tk-checkbox .tk-checkbox-inner {
    background-color: var(--warningColor);
}

/* error */
.tk-checkbox-label-error input[type="checkbox"]:checked + .tk-checkbox-item .tk-checkbox {
    border: 1px solid var(--errorColor);
}

.tk-checkbox-label-error input[type="checkbox"]:checked + .tk-checkbox-item .tk-checkbox .tk-checkbox-inner {
    background-color: var(--errorColor);
}

/* 禁用 */
.tk-checkbox-label:has(input:disabled) {
    cursor: not-allowed;
    opacity: 0.5;
}

.tk-checkbox-label:has(input:disabled:not([checked])):hover .tk-checkbox-item .tk-checkbox {
    border: 1px solid var(--borderColor);
}