.tk-select {
    border: 1px solid var(--borderColor);
    font-size: var(--textSizeMedium);
    padding: 5px 10px;
    color: var(--textColor);
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    width: 100%;
}

.tk-select > span {
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tk-select > span .tk-select-tag {
    display: inline-flex;
    align-items: center;
    background-color: var(--backgroundColor);
    padding: 0 8px;
    border-radius: 3px;
}

.tk-select:hover, .tk-select:focus {
    border: 1px solid var(--primaryColor);
}

.tk-select .tk-select-option {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    margin-top: 4px;
    padding: 4px;
    max-height: 150px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
}

.tk-select .tk-select-option::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.tk-select .tk-select-option::-webkit-scrollbar-track {
    background: transparent;
}

.tk-select .tk-select-option::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
}

.tk-select .tk-select-option::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .4);
}

.tk-select .tk-select-option:hover::-webkit-scrollbar {
    width: 5px;
}

.tk-select .tk-select-option li {
    padding: 5px 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tk-select .tk-select-option li > span {
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tk-select .tk-select-option li svg {
    width: 12px;
    height: 12px;
}

.tk-select .tk-select-option li:hover {
    background-color: var(--backgroundColor);
}

.tk-select .tk-select-option .tk-select-option-active {
    color: var(--primaryColor);
}

.tk-select .tk-select-option .tk-select-option-disabled {
    color: #bdbebf;
    cursor: not-allowed;
}

/* info */
.tk-select-info:hover, .tk-select-info:focus {
    border: 1px solid var(--infoColor);
}

.tk-select-info .tk-select-option .tk-select-option-active {
    color: var(--infoColor);
}

/* success */
.tk-select-success:hover, .tk-select-success:focus {
    border: 1px solid var(--successColor);
}

.tk-select-success .tk-select-option .tk-select-option-active {
    color: var(--successColor);
}

/* warning */
.tk-select-warning:hover, .tk-select-warning:focus {
    border: 1px solid var(--warningColor);
}

.tk-select-warning .tk-select-option .tk-select-option-active {
    color: var(--warningColor);
}

/* error */
.tk-select-error:hover, .tk-select-error:focus {
    border: 1px solid var(--errorColor);
}

.tk-select-error .tk-select-option .tk-select-option-active {
    color: var(--errorColor);
}

/* 禁用 */
.tk-select[disabled="true"] {
    cursor: not-allowed;
    opacity: 0.5;
}

.tk-select[disabled="true"]:hover, .tk-select[disabled="true"]:focus {
    border: 1px solid var(--borderColor);
}