.tk-textarea {
    border: 1px solid var(--borderColor);
    font-size: var(--textSizeMedium);
    padding: 5px 10px;
    color: var(--textColor);
    border-radius: 3px;
    display: flex;
    align-items: center;
    scrollbar-width: 5px;
    scrollbar-color: transparent;
    transition: all .3s var(--bezier);
    resize: vertical;
}

.tk-textarea::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.tk-textarea::-webkit-scrollbar-track {
    background: transparent;
}

.tk-textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
}

.tk-textarea::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .4);
}

.tk-textarea::placeholder, .tk-textarea textarea::placeholder {
    color: #c3c3c3;
}

.tk-textarea:hover::-webkit-scrollbar {
    width: 5px;
}

.tk-textarea:focus-within, .tk-textarea:hover {
    border: 1px solid var(--primaryColor);
    caret-color: var(--primaryColor);
}

.tk-textarea-info:focus-within, .tk-textarea-info:hover {
    border: 1px solid var(--infoColor);
    caret-color: var(--infoColor);
}

.tk-textarea-success:focus-within, .tk-textarea-success:hover {
    border: 1px solid var(--successColor);
    caret-color: var(--successColor);
}

.tk-textarea-warning:focus-within, .tk-textarea-warning:hover {
    border: 1px solid var(--warningColor);
    caret-color: var(--warningColor);
}

.tk-textarea-error:focus-within, .tk-textarea-error:hover {
    border: 1px solid var(--errorColor);
    caret-color: var(--errorColor);
}

.tk-textarea:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}