@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

button, a, input, select, option, label, textarea, ul, li, table, thead, tr, th, td, tbody {
    all: unset;
}

:root {
    --bezier: cubic-bezier(.4, 0, .2, 1);
    --textColor: rgb(51, 54, 57);
    --borderColor: rgb(224, 224, 230);
    --backgroundColor: rgba(46, 51, 56, .05);
    --textSizeMini: 11px;
    --textSizeSmall: 13px;
    --textSizeMedium: 14px;
    --textSizeLarge: 16px;

    --primaryColor: #007BFF;
    --primaryColorHover: #0056b3;
    --primaryColorPressed: #004085;
    --primaryColorShallow: #007BFF10;

    --infoColor: #3498DB;
    --infoColorHover: #2980b9;
    --infoColorPressed: #20639b;
    --infoColorShallow: #3498DB10;

    --successColor: #27AE60;
    --successColorHover: #229954;
    --successColorPressed: #1e8449;
    --successColorShallow: #27AE6010;

    --warningColor: #F39C12;
    --warningColorHover: #e67e22;
    --warningColorPressed: #d35400;
    --warningColorShallow: #F39C1210;

    --errorColor: #E74C3C;
    --errorColorHover: #d33;
    --errorColorPressed: #b22222;
    --errorColorShallow: #E74C3C10;

    --tab-grad: calc(69% - 1px);
    --radius-start: radial-gradient(circle at top left, transparent var(--tab-grad), var(--borderColor) calc(var(--tab-grad) + .25px), var(--borderColor) calc(var(--tab-grad) + 1px), oklch(100% 0 0 /1) calc(var(--tab-grad) + 1.25px));
    --radius-end: radial-gradient(circle at top right, transparent var(--tab-grad), var(--borderColor) calc(var(--tab-grad) + .25px), var(--borderColor) calc(var(--tab-grad) + 1px), oklch(100% 0 0 /1) calc(var(--tab-grad) + 1.25px));
}

::-webkit-scrollbar {
    display: none;
}